<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slideshow</title>
    <style>
        #slideshow {
            width: 80%;
            margin: auto;
            text-align: center;
        }
        img {
            max-width: 100%;
            max-height: 500px;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>Image Slideshow</h1>
    <div id="slideshow"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        const socket = io();
        const setor = new URLSearchParams(window.location.search).get('setor');

        if (!setor) {
            document.body.innerHTML = "<h1>Setor não especificado</h1>";
            throw new Error("Setor não especificado");
        }

        let images = [];
        let index = 0;
        const slideshowDiv = document.getElementById('slideshow');

        async function fetchImages() {
            const response = await fetch(`/api/images?setor=${setor}`);
            images = await response.json();
            return images;
        }

        function updateSlideshow() {
            if (images.length > 0) {
                const timestamp = new Date().getTime();
                slideshowDiv.innerHTML = `<img src="/images/${setor}/${images[index]}?t=${timestamp}" alt="${images[index]}">`;
                index = (index + 1) % images.length;
            }
        }

        async function startSlideshow() {
            await fetchImages();
            updateSlideshow();
            setInterval(updateSlideshow, 4000); // Change image every 4 seconds

            socket.on('new_image', async (data) => {
                console.log('New image event received:', data);
                if (data.setor === setor) {
                    await fetchImages();
                    updateSlideshow();
                }
            });
            
            socket.on('delete_image', async (data) => {
                console.log('Delete image event received:', data);
                if (data.setor === setor) {
                    await fetchImages();
                    updateSlideshow();
                }
            });
            
            socket.on('update_image', async (data) => {
                console.log('Update image event received:', data);
                if (data.setor === setor) {
                    await fetchImages();
                    updateSlideshow();
                }
            });
            
        }

        startSlideshow();
    </script>
</body>
</html>
